.title{
	font-size: 1.5rem;
	font-family: 'Century Gothic', sans-serif;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 3rem;
}

a{
	font-family: 'Century Gothic', sans-serif;
	font-size: 1.25rem;
	text-decoration: none;
	text-decoration-color: #808080;
	color: black;
	margin-top: 0rem;
	padding-top: 0rem;
	margin-left: 4rem;
}



a:hover{
	color: #808080;
	
}

p{
	font-family: 'Century Gothic', sans-serif;
	font-size: 1.05rem;
	text-decoration: none;
	text-decoration-color: #808080;
	color: black;
	margin-top: 0rem;
	padding-top: 0rem;
	margin-left: 4rem;
	width: 65%;
}

h2{
	font-family: 'Century Gothic', sans-serif;
	text-decoration: none;
	text-decoration-color: #808080;
	color: black;
	margin-top: 0rem;
	padding-top: 0rem;
}

h3{
	font-family: 'Century Gothic', sans-serif;
	text-decoration: none;
	text-decoration-color: #808080;
	color: black;
	margin-top: 0rem;
	padding-top: 0rem;
}

h1{
	font-family: 'Century Gothic', sans-serif;
	text-decoration: none;
	text-decoration-color: #808080;
	color: black;
	margin-top: 0rem;
	padding-top: 0rem;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Century Gothic', sans-serif;
	text-align: center;
	padding-bottom: .5rem;
}

.gallery-item{
	padding: 0.05rem;
	margin: 0.5rem;
}

