h1{
	text-align: center;
	margin-top: 3rem;
	padding: .8rem;
	font-size: 3rem;
	font-family: 'Menlo Regular', 'Consolas', sans-serif;	
}

nav{
	font-size: 1.5rem;
	font-family: 'Century Gothic', sans-serif;
	padding-top: .5rem;
	padding-bottom: 1.5rem;
	text-align: center;
	padding-right: 2.8rem;

}

nav ul{
	display: inline;


}

nav li{
	display: inline;
	padding: .8rem;
	color: black;

}

a{
	text-decoration: none;
}

.about{
	font-family: 'Century Gothic', sans-serif;
	font-size: 1rem;
	text-align: center;
	padding: 1rem;
}

h2{
	font-size: 1.5rem;
	font-family: 'Century Gothic', sans-serif;	
}

img{
	margin-left: 50px;
}

p{

}


img{
	margin: 20px;
}