.title {
	font-size: 6rem;
	font-family: 'Century Gothic', sans-serif;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
}

.homelink a{
	font-family: 'Century Gothic', sans-serif;
	font-size: 2rem;
	text-decoration: none;
	text-decoration-color: #808080;
	color: black;
	margin-top: 0rem;
	padding-top: 0rem;
	margin-left: 3.25rem;
}


.homelink a:hover{
	color: #808080;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Century Gothic', sans-serif;
	text-align: center;
	padding-bottom: .5rem;
	padding-top: 2rem;
}

img {
	padding: 0.05rem;
	margin: 0.5rem;
	font-size: 2rem;
	color: black;
}


/*
.gallery-item img:target{
	width: 40rem;
	font-size: 1rem;
	color: red;
}
*/ 
